<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">

                <div class="user-wrapper">
                    <div class="profile-image">
                        <!-- <img src="assets/images/faces/face1.jpg" alt="profile image"> -->
                    </div>

                    <div class="text-wrapper">
                        <p class="profile-name">{{ usuarioAtivo }}</p>
                        <div>
                            <small class="designation text-muted"></small>
                        </div>
                    </div>
                </div>

            </div>
        </li>

        <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link">
                <i class="menu-icon fa fa-tachometer-alt"></i>
                <span class="menu-title">Painel</span>
            </a>
        </li>

        <li class="nav-item">
            <a  [routerLink]="['/movs']"class="nav-link">
                <i class="menu-icon fa fa-clipboard-list"></i>
                <span class="menu-title">Movimentações</span>
            </a>
        </li>

        <li class="nav-item">
            <a [routerLink]="['/detail']" class="nav-link">
                <i class="menu-icon fa fa-table"></i>
                <span class="menu-title">Detalhes</span>
            </a>
        </li>

        <li class="nav-item">
            <a  [routerLink]="['/login']" (click)="logout()" routerLinkActive="router-link-active"  class="nav-link cursor">
                <i class="menu-icon fa fa-sign-out-alt"></i>
                <span class="menu-title">Sair</span>
            </a>
        </li>

    </ul>
</nav>