<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lançamento</h4>
                <p class="card-description">
                    Especifique o valor e o tipo
                </p>

                <form [formGroup]="entradaForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Descriçao</label>
                        <input type="text" class="form-control" name="descricao" formControlName="descricao">
                    </div>

                    <div class="form-group">
                        <label>Valor</label>
                        <input type="number" class="form-control" name="valor" formControlName="valor">
                        <p class="text-muted">
                            Informe um valor positivo
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Tipo</label>
                        <br>
                        <button *ngIf="tipo === 'ENTRADA'" (click)="tipo = 'SAIDA'" type="button" class="btn btn-primary btn-block">Entrada</button>
                        <button *ngIf="tipo === 'SAIDA'" (click)="tipo = 'ENTRADA'" type="button" class="btn btn-warning btn-block">Saída</button>
                    </div>

                    <hr>
                    <button *ngIf="!loading" type="submit" class="btn btn-success mr-2" [disabled]="entradaForm.invalid">
                        <i class="fa fa-save"></i>
                        Salvar
                    </button>
                    <button *ngIf="loading" [disabled]="true" type="submit" class="btn btn-success mr-2" [disabled]="entradaForm.invalid">
                        <i class="fa fa-spin fa-sync"></i>
                        Salvando...
                    </button>

                    <button type="reset" class="btn btn-light" [routerLink]="['/']" routerLinkActive="router-link-active" >Cancelar</button>

                </form>
            </div>
        </div>
    </div>
</div>