<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalhes das movimentações</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of movimentacoes">
                            <td>{{ item.descricao }}</td>
                            <td>{{ item.valor | currency }}</td>
                            <td [class.text-success]="item.tipo === 'ENTRADA'"
                                [class.text-danger]="item.tipo === 'SAIDA'">{{ item.tipo }}</td>
                            <td>
                                <button (click)="excluir(item.uid)" type="button" class="btn btn-danger" ><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>